@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}


.bg-horiz-line:nth-child(3),
.bg-horiz-line:nth-child(5),
.bg-horiz-line:nth-child(7),
.bg-horiz-line:nth-child(9),
.bg-horiz-line:nth-child(11)
 {
  background-image: linear-gradient(var(--foreground), var(--foreground));
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 1px;
}

.svg-background {
  background-image: url("../../public/bass_clef-light.svg"); /* path to your SVG file */
  background-repeat: no-repeat;
  background-position: center;
  background-size: 90% 100%; /* makes the SVG fill the div */
}
@media (prefers-color-scheme: dark) {
  .svg-background {
    background-image: url("../../public/bass_clef-dark.svg"); /* path to your SVG file */
  }
}


/* Ensure the app can fill the full viewport */
html, body, #__next {
  height: 100%;
}

body {
  margin: 0;
}
